body {
    margin: 0;
    display: grid;
    place-items: center;
    background: #1C1C1C;
}

html, body {
    height: 100%;
}

.pagina {
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagina button {
    flex: 0 0 42px;
    height: 42px;
    border: 0;
    padding: 6px;
    background: transparent;
    transition: 0.4s;
}

.pagina button span {
    display: block;
    height: 30px;
    width: 100%;
    border-radius: 15px;
    background: #7B68EE;
    transition: 0.4s;
}

.pagina button:focus {
    flex: 0 0 80px;
}

.pagina button:focus span {
    background: #4169E1;
}